@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #142137;
    font-weight: 600;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}




body {
    font-family: "Poppins", sans-serif;
    color: #142137;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

/*  */
.top {
    background-color: #4375E7;
    color: #ffffff;
}

.top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-weight: 500;

}

.social_icon_inner {
    display: flex;
    align-items: center;
}

.social_icon_inner span {
    margin-right: 15px;
}

.social_icon_inner a {
    margin-right: 10px;
    padding: 5px;
    color: #fff;
    opacity: .7;
    transition: .3s;
}
.social_icon_inner a:hover {
    opacity: 100;
}

.contact_inner {
    display: flex;
    gap: 4px;
    align-items: center;

}

.top_menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top_menu li {
    display: flex;
    margin-right: 10px;


}

.top_menu li {
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.top_menu li:nth-last-child(1) {
    border-right: none;
}

.top_menu li i {

    margin-right: 5px;
}

.top_menu li a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    opacity: 70%;
    transition: .3s;
}

.top_menu li a:hover {
    opacity: 100;
}

/* nav */
.section_nav {
	padding: 15px 0;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 8px
}

.logo img {
    width: 47px;
    height: 40px;
}

.logo h3 {
    font-size: 30px;
    font-weight: 600;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 5px 10px;
    font-weight: 500;
    transition: .3s;
    color: #142137;
}

.menu ul li a:hover {
    color: #000;
}

.nav_btn a {
    display: flex;
    align-items: center;
    font-weight: 500;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 5px;
    color: #142137;
    transition: .3s;

}

.nav_btn a:hover {
    background-color: #4375E7;
    color: #fff;
}

.nav_btn a i {
    margin-left: 10px;
}

/* Heor */

.hero {
    background-image: url('../image/Image_here.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    position: relative;
    color: #fff;

}

.hero:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0e0d0c73
}

.hero_bg_container {
    z-index: 2;

    display: flex;
    width: 1600px;
    margin: 0 auto;
}

.hero_bg_container_top a i{
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
}

.Hero_item a {
    color: #fff;
    background-color: #ffffff55;
    padding: 5px 10px;
    border-radius: 5px;
}

.Hero_item h1 {
    color: #fff;
    font-size: 100px;
    letter-spacing: -2px;
    line-height: 120px;
    margin: 40px 0;

}

.Hero_item p {
    width: 60%;
}

.book {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
    margin-top: 40px;

}

.book_btn a {
    color: #fff;
    background-color: #4375E7;
    padding: 10px 15px;


}

.clients {
    display: flex;
    color: #fff;
}

.clients_pic {
    display: flex;
    color: #fff;
}

.clients_pic img {
    margin-left: -12px;
    height: 50px;
}

.clients_pic img:nth-child(1) {
    margin-left: inherit
}

.clients_revies {
    display: flex;
    flex-direction: column;

}

.clients_revies_rating i {
    color: #F59E0B;
}

.clients_revies p {
    width: 150px;
    margin-bottom: -5px;
}

.indecator {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indecator i {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}
.indecator i:hover {
    background-color: #4375E7;
    border: 1px solid #4375E7;
}


/* about */

.about {
    padding: 80px 0;
}

.about_inner {
    display: flex;
}



.about_left_item p.about_info_btn {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 9px;
    border-radius: 5px;
}

.about_left_item h1 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    margin: 25px 0;
    width: 80%;
}



p.about_text {
    opacity: .7;
    margin-bottom: 30px;
}

.about_left_item a {
    border: 1px solid #ddd;
    color: #142137;
    font-weight: 500;
    padding: 5px 15px;
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 5px;
}



.img_item {
    display: flex;
    gap: 10px;
    position: relative;
}

.img_item_box {
    border: 1px solid #ddd;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: absolute;
    left: 25%;
    bottom: 0;
    background-color: #fff;
}

.img_item_box::after {
    content: '';
    width: 80px;
    height: 80px;
    background: #ddd;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 14%;
}

.img_item_box h1 {
    font-size: 150px;
    z-index: 2;
}

.img_item_box p {
    margin-top: 30px;
    margin-left: -25px;
    z-index: 3;
}

.img_item_box h1 {
    align-self: center;
}

.about_count_item {
    align-self: flex-end;
}

.about_count_inner {
    display: flex;
    align-items: end;
    align-self: flex-end;
    gap: 20px;
    justify-content: center;
}

.single_inner_item {
    width: 180px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    height: 180px;
    border-radius: 50%;
    align-self: center;
    align-content: center;

}

.single_inner_item h1 {
    font-size: 50px;
    font-weight: 600;
}

.single_inner_item p {
    font-weight: 500;
}

.about_count_item img {
    margin-top: 100px;
}

/*  */

.clinets_area {
    width: 100%;
    margin: 20 auto;
    padding: 80px 60px;
    background-color: #ECF2FE;
}

.clients_top {
    text-align: center;
    margin-bottom: 50px;
}

.clients_top h4 {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    opacity: .7;
    margin-bottom: 15px;
}

.clients_top h1 {
    font-size: 54px;
    font-weight: 600;
    width: 40%;
    margin: auto;
    line-height: 1.2;
}

.clients_inner {
    display: flex;
    justify-content: center;
}

.single_clients_item {
    padding: 30px;
    border-right: 1px solid #ddd;
    width: 25%;
    overflow: hidden;
}

.single_clients_item:nth-last-child(1) {

    border-right: 0;
}

.single_clients_item h3 {
    font-size: 30px;
    margin-bottom: 25px;
    transition: .3s;
    margin-top: 40px;
}

.single_clients_item:hover h3,
.single_clients_item:hover a {
    color: #4375E7;
}

.single_clients_item p {
    opacity: .7;
    margin-bottom: 60px;
}

.single_clients_item a {
    color: #142137;
    font-weight: 500;
    display: flex;
    gap: 15px;
    align-items: center;
    transition: .3s;
}

.single_clients_item img {
    /* margin-left: -45px; */
    /* object-fit: cover; */
}

/* video_intro */
.video_intro {
    padding: 80px 0;
}

.video_intro_inner {
    width: 1290px;
    margin: 0 auto;
}

.video_intro_top {
    text-align: center;
    margin-bottom: 40px;
}

.video_intro_top h1 {
    font-size: 54px;
    margin-bottom: 10px;
}

.video_intro_top p {
    opacity: .7;
}

.video_intro_box {
    height: 670px;
    background-image: url('../image/video_thumb.png.png');
    display: flex;
    justify-content: center;
    align-items: center;
}



.sample_inner {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.sample_inner_item {
    width: 25%;
    text-align: center;
    padding: 5px;


}


.sample_inner_item h3 {
    margin-top: 20px;
}

.sample_inner_item p {
    padding: 0 30px;
}

/*  */
.expert_area {
    padding-bottom: 80px;
}

.expert_top {
    text-align: center;
    margin-bottom: 50px;
}

.expert_top p {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.expert_top h1 {
    font-size: 54px;
    width: 56%;
    margin: auto;
    line-height: 1.2;
}



.expert_memeber {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.single_expart_info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.single_expert {
    background-color: #ECF2FE;
}

.name h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.name p {
    opacity: .7;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}



.expert_social:hover img {
    background-color: #4375E7;
}


.expert_social ul li {
    position: relative;
    display: block;

}

.expert_social ul li a {

    margin-top: 20px;
    display: inline-block;
    background-color: #fff;
    transition: .3s;
    color: #142137;
    height: 40px;
    width: 40px;
}

.expert_social ul li a i {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.expert_social ul li a:hover {
    background-color: #4375E7;
    color: #fff;
}

.expert_social ul li ul {
    position: absolute;
    visibility: hidden;
    bottom: 65px;
    left: 0;
    transition: .3s;

}

.expert_social ul li:hover ul {
    visibility: visible;
    transition: .3s;
}

/* .single_expert:hover .expert_social ul li > a {
    background-color: #4375E7;
    color: #fff;
} */

.single_expert:hover .expert_social ul li ul {
    visibility: visible;
    transition: .3s;

}

/* Work */
.work_area {
    padding: 60px 0;
}

.top_work {
    display: flex;
    align-items: end;
    margin-bottom: 50px;
}

.top_work_left p {
    font-size: 16px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    opacity: .7;

}

.top_work_left h1 {
    font-size: 54px;
    line-height: 1.2em;
}

.top_work_right {
    display: flex;
    flex-direction: row-reverse;
}

.top_work_right p {
    width: 60%;
}

/*  */
.pirce {
    padding: 60px 0;

}

.price_top {
    text-align: center;
    margin-bottom: 40px;
}

.price_top p {
    opacity: .7;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.price_top h1 {
    font-size: 54px;
    width: 40%;
    margin: auto;

}

.price_item {
    display: flex;
    gap: 20px;
}

.single_price_item {
    width: 25%;

}

.single_price_item_top {

    display: flex;
    background: #ECF2FE;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 50px;
    height: 120px;
}

.single_price_item_top img {
    height: 50px;
}

.single_price_item_under {
    padding: 20px;
    background-color: #fff;
    margin: 30px;
    margin-top: -25px;
    border: 1px solid #ddd
}

.single_price_item_under li {
    display: flex;
    justify-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.single_price_item_under li i {
    font-size: 10px;
    font-weight: 300;
    height: 20px;
    width: 20px;
    background-color: #22E17F;
    text-align: center;
    align-content: center;
    color: #fff;
    border-radius: 50%;
    padding: 5px;

}

.pirce_btn_item {
    text-align: center;
    margin-top: 20px;
}

.pirce_btn_item h3 {
    font-size: 20px;
    width: 28%;
    margin: auto;
}

.price_btn_box {
    margin-top: 30px;
}

.pirce_btn_item a {
    margin-right: 15px;
    background-color: #4375E7;
    padding: 8px 14px;
    color: #fff;
    font-weight: 500;
}

.pirce_btn_item a.btn2 {
    background-color: #142137;
}

/*  */

.reviews {
    padding: 60px 0;
    background-color: #ECF2FE;
    margin: auto;
}

.reviews_top {
    text-align: center;
}

.reviews_top p {
    opacity: .7;
}



.reviews_item {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.single_review {
    width: 31.33%;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
}

.rating {
    margin-bottom: 20px;
}

.rating i {
   color:#F59E0B ;
   
}
.review_profile {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
}

.review_profile_left {
    display: flex;
    gap: 20px;

}

.review_profile_left h3 {
    font-size: 18px;
    font-weight: 600;
}

.review_profile_left p {
    opacity: .7;
    text-transform: uppercase;
}


/*  */

.blog {
    padding: 90px 0;
}

.blog_top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

.blog_top_left p {
    border: 1px solid #ddd;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog_top_left h1 {
    font-size: 54px;
    width: 70%;
    line-height: 1.2em;
}

.blog_top_right a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #142137;
    font-size: 15px;
}



.blog_items {
    display: flex;
    gap: 20px;
    margin: 10px;
}


.single_blog_item {
    width: 25%;
}

.blog_item_pic {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    position: relative;
}

.blog_item_pic img {
    margin-bottom: 20px;
    width: 100%;

}

.blog_tag {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #4375E7;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.blog_item_pic::after {
    content: "";
}

.date_time_comment {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px
}

.date_time_comment i.fa {
    font-size: 25px;
    font-weight: 300;
}

.date_time_comment .date {
    align-items: center;
    display: flex;
    gap: 10px;
    
}

.date_time_comment .comment {
    align-items: center;
    display: flex;
    gap: 10px;
}

.blog_heading {
    margin-top: 15px;
}

.blog_heading h1 {
    font-size: 24px;
    font-weight: 600;
}

/*  */

.footer_item {
    background-color: #142137;
    padding-top: 80px;

}

.footer_inner {
    padding-bottom: 50px;
}

.footer_inner ul li {
    margin-bottom: 15px;
}

.logo {
    width: 22%;
}

.footer_inner {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer_inner a {
    color: #fff;
    opacity: .7;
}

.footer_inner h3 {
    color: #fff;
    margin-bottom: 25px;
}

.logo_item {
    display: flex;
    gap: 15px;
}

.logo a {
    opacity: 1;
}

.logo p {
    opacity: .7;
}

.logo ul {
    margin-top: 20px;
}

.logo ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.logo ul li i {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    align-content: center;

}

.logo span {
    color: #4375E7;
}

.services,
.links,
.commercial {
    width: 15%;


}


/* 5 */
.newsletters {

    width: 25%;
    padding: 0 10px;

}

.newsletters form input {
    padding: 15px 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;


}

.newsletters form input {
    background-color: #4374e700;
    color: #fff;
}

.newsletters form button {
    padding: 15px;

}

.newsletters form {
    margin-bottom: 20px;
}

.social_icon i {
    border: 1px solid #ddd;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
    align-content: center;
    margin-right: 5px;
}

.social_icon i:hover {
    background-color: #4375E7;
    border: 1px solid #4375E7;
    transition: .3s;
}

/*  */

.footer_copwirte {
    padding-top: 60px;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.footer_copwirte a {
    color: #fff;
    opacity: .7;
}

/* Blog */


.blog_box {
    height: 350px;
    background-image: url('../image/blog_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -30;

}

.blog_box::after {
    content: "";
    background: #192f546f;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -30;
}

.blog_box_inner {
    align-content: center;
    height: 350px;
    
}

.blog_box_inner h1 {
    color: #fff;
    font-size: 60px;

}

.blog_box_inner a {
    color: #fff;

}

.blog_body {
    margin-top: 80px;
    
    

}

.blog_in {
    display: flex;
    justify-content: space-between;
}



.single_blog_post {
    width: 1160px;
}

.blog_item {
    margin-bottom: 40px;
}


.single_blog_post_inner {
    padding: 20px;
    background-color: #EBEFF3;
    
}

.blog_status {
    display: flex;
    padding: 20px 0; 
    align-items: center;
    gap: 15px   ;
}

.blog_status p {
    font-size: 18px;

}

.blog_status_in {
    display: flex;
    gap: 15px;
    align-items: center;

}
.blog_status_in  a{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #142137;
    opacity: .6;
}



.single_blog_post_inner h1 {
    font-size: 34px;
    margin: 12px 0;
}
.single_blog_post_inner p {
        opacity: .7;
}

.read_btn {
    margin-top: 30px;
}

.read_btn a {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    background-color: #142137;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    transition: .4s;

}

.read_btn a:hover {
    background-color: #4375E7;
} 

/*  */

.blog_add {
    background-color: #EBEFF3;
    padding: 30px;
    text-align: center;
}

.blog_add p {
    margin: 20px 0;
    opacity: .7;
}

.blog_add h4 {
    font-size: 20px;
    font-weight: 500;
}

.blog_add .icon i {
    font-size: 50px;
}

/*  */

.blog_pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.blog_pagination a {
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    align-self: center;
    align-content: center;
    color: #142137;
    transition: .3s;

}

.blog_pagination a:hover {
    background-color: #4375E7;
    color: #fff;
}

/*  */
.blog_sideber {
    width: 380px;
}



.search, .recent_post, .catagories, .tag, .follow_us {
        background-color: #EBEFF3;
        padding: 20px;
        margin-top: 30px;

}
.search h3, 
.recent_post h3, 
.catagories h3, 
.tag h3, 
.follow_us h3 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

.search {
    margin-top: 0px;
    padding: 30px 20px ;

    
}
.search form{
    text-align: center;
    margin-top: 20px;
}
.search input {
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #dddddd00;
    width: 80%;
    
}
.search i {
    background-color: #4375E7;
    color: #fff;
    padding: 15px;
    transition: .3s;
}

.search i:hover {
    opacity: .8;
}
/*  */

.recent_post_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recent_post_inner img {
    width: 30%;
    height: 100px;
    object-fit: cover;
}

.recent_inner_item {
    width: 65%;
}




.recent_inner_item h4 {
    font-size: 18px;
}

.recent_date {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.recent_date  span {
    font-size: 15px;
}
/*  */




.catagories ul li a{
    display: flex;
    justify-content: space-between;
    border: 1px solid #CDD2D9;
    padding: 10px 15px ;
    margin-bottom: 20px ;
    color: #142137;
    opacity: .7;
    font-size: 15px;
    font-weight: 500;
    transition: .3s;

}
.catagories ul li a i.fa-circle {
    margin-right: 5px;
    font-size: 8px;
}

.catagories ul li a:hover {
    background-color: #4375E7;
    color: #fff;
    opacity: 100;
}

/*  */

.tag_item {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag_item a {
    border: 1px solid #CDD2D9;
    padding: 5px 10px;
    color: #142137;
    border-radius: 5px;
    transition: .3s;
}
.tag_item a:hover {
    background-color: #4375E7;
    color: #fff;
}

/*  */
.follow_us {
    text-align: c;
}

.follow_us_icon i {
    height: 50px;
    width: 50px;
    background-color: #4375E7;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    color: #fff;
    transition: .3s;
    margin-right: 10px;

    
}

.follow_us_icon i:hover{
    background-color: #142137;
}